<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.title | escape }}
          </li>
          {% if site.email %}
          <li>
            <a class="u-email" href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include icon-github.svg %}
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              {% include icon-twitter.svg %}
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.bluesky_url %}
          <li>
            <a href="{{ site.bluesky_url }}">
              {% include icon-bluesky.svg %}
              <span class="username">{{ site.bluesky_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

    </div>
  </div>
</footer>
