.current {
  color: green;
}
.logo {
		position: relative;
    float: right;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
 	}
.figure {
		text-align: center;
    float: center;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
    img {
    display: inline-block;
    max-width: 100%; // Limit the image width to 80% of its container
    height: auto; // Maintain the aspect ratio
  }
}
.image-caption {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 14pt;
	color: light-grey;
  }

.title {
	display: block;
	margin: 0 auto;
	font-size : 16pt;
	text-align: center;
	text-style: bold;
}