---
---
@import "main";

.youtube-wrapper {
  position: relative;
  width: 40%;
  height: 80%;
  padding-bottom: 25%;
  border: 1;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1;
}